body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f0ed;
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    background-color: #28536B; /* Background color */
    color: #F6F0ED; /* Text color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.time {
    font-size: 48px;
    margin: 20px 0;
    font-weight: bold;
}

.controls {
    margin-top: 20px;
}

button {
    background-color: #C2948A; /* Button background color */
    color: #F6F0ED; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7EA8BE; /* Button hover color */
}
